<style>
    a.got-to-uv {
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        z-index: 999;
        right: 20px;
        bottom: 20px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        background: aliceblue;
        border-radius: 30px;
        color: darkblue !important;
        font-size: 19px;
    }
</style>

<script>
    // Button to go to the uv detail section 
    $(document).ready(function () {
        if (document.getElementById('uv-details-name') === null) {
            $('body').prepend("<a class='got-to-uv'><center>Voir en détail l'UV<br><span id='uv-details-name' style='font-weight:bold;'></span></center></a>");
        }
        $('a.got-to-uv').fadeIn('slow');
        $('a.got-to-uv').click(function () {
            document.getElementById('UV-select').scrollIntoView();
        });
    });
</script>