html {
    font-size: 62.5% !important;
}

body {
    font-size: 1.5em !important;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6 !important;
    font-weight: 400 !important;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: #222 !important;
}

div {
    border-radius: 0px !important;
}

div.CodeMirror-sizer {
    background: rgb(244, 244, 248) !important;
}

div.input_area {
    background: rgb(244, 244, 248) !important;
}

div.out_prompt_overlay:hover {
    background: rgb(244, 244, 248) !important;
}

div.input_prompt:hover {
    background: rgb(244, 244, 248) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333 !important;
    margin-top: 0 !important;
    margin-bottom: 2rem !important;
    font-weight: 300 !important;
}

h1 {
    font-size: 4.0rem !important;
    line-height: 1.2 !important;
    letter-spacing: -.1rem !important;
}

h2 {
    font-size: 3.6rem !important;
    line-height: 1.25 !important;
    letter-spacing: -.1rem !important;
}

h3 {
    font-size: 3.0rem !important;
    line-height: 1.3 !important;
    letter-spacing: -.1rem !important;
}

h4 {
    font-size: 2.4rem !important;
    line-height: 1.35 !important;
    letter-spacing: -.08rem !important;
}

h5 {
    font-size: 1.8rem !important;
    line-height: 1.5 !important;
    letter-spacing: -.05rem !important;
}

h6 {
    font-size: 1.5rem !important;
    line-height: 1.6 !important;
    letter-spacing: 0 !important;
}

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem !important;
    }
    h2 {
        font-size: 4.2rem !important;
    }
    h3 {
        font-size: 3.6rem !important;
    }
    h4 {
        font-size: 3.0rem !important;
    }
    h5 {
        font-size: 2.4rem !important;
    }
    h6 {
        font-size: 1.5rem !important;
    }
}

p {
    margin-top: 0 !important;
}

a {
    color: #1EAEDB !important;
}

a:hover {
    color: #0FA0CE !important;
}

code {
    padding: .2rem .5rem !important;
    margin: 0 .2rem !important;
    font-size: 90% !important;
    white-space: nowrap !important;
    background: #F1F1F1 !important;
    border: 1px solid #E1E1E1 !important;
    border-radius: 4px !important;
}

pre>code {
    display: block !important;
    padding: 1rem 1.5rem !important;
    white-space: pre !important;
}

button {
    border-radius: 0px !important;
}

.navbar-inner {
    background-image: none !important;
}

